.precio {
  font-weight: bold;
  font-size: 1.2em;
  color: red;
}
.router-link:hover {
  text-decoration: none;
  color: black;
}
.router-link {
  color: black;
}
.item-component-container {
  margin: 10px;
}
.item-card {
  background-color: #f8f9fa !important;
}
